.top-controls {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}


.order-success-page {
    width: 100%;
    max-width: 1200px;
    margin: 60px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 300px;
}

.success-container {
    text-align: center;
}

.success-icon {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
}

.success-container h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.success-container p {
    font-size: 18px;
    color: #555;
}


.track-order-btn {
    margin-top: auto;
    padding: 12px 30px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 18px;
    transition: background 0.3s;
    margin-top: 20px;
}

.track-order-btn:hover {
    background-color: #45a049;
}