<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/basket.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>


    <title>Shopping Cart</title>
</head>
<body>
<header class="main-header">
    <div class="header-left">
        <img src="/images/home.jpg" alt="Logo"/>
    </div>
    <div class="header-content">
        <h1 class="welcome-title">Welcome to Our Page!</h1>
        <h2 class="welcome-text">It’s time to power up your <br>day with flavor and focus. Grab your coffee (or pizza?)
            and let’s get things rolling.</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <nav class="header-nav">
            <a th:href="@{/home}" class="nav-button"><i class="fas fa-home"></i> Home</a>
            <a th:href="@{/orders/basket}" class="nav-button" th:if="${user.role.name() == 'CUSTOMER'}"><i class="fas fa-shopping-basket"></i> Basket</a>
            <a href="#" class="nav-button" th:if="${user.role.name() == 'EMPLOYEE'}">
                <i class="fas fa-chart-bar"></i>
                Statistics
            </a>
            <a th:href="@{/orders}" class="nav-button" th:if="${user.role.name() == 'CUSTOMER'}"><i class="fas fa-receipt"></i> Orders</a>
            <a th:href="@{'/user/' + ${user.id} + '/profile'}" class="nav-button"><i class="fas fa-user"></i> Profile</a>
        </nav>
    </div>

</header>

<main class="cart-page">
    <h1>Shopping Cart</h1>

    <div class="cart-items">

        <div class="cart-item" th:each="product : ${order.products}">
            <img th:src="@{${product.imageUrl}}" alt="Product Image" class="product-image">
            <span class="product-name" th:text="${product.name}"></span>
            <span class="product-price" th:text="'$' + ${#numbers.formatDecimal(product.price, 1, 'COMMA', 2, 'POINT')}"></span>

            <form th:action="${'/orders/basket/delete-product/' + product.id}" th:method="DELETE">
                <button class="remove-item">×</button>
            </form>

        </div>

    </div>


    <div class="cart-summary">
        <div class="summary-row">
            <span>Total products:</span>
            <span th:text="'$' + ${#numbers.formatDecimal(order.totalPrice, 1, 'COMMA', 2, 'POINT')}"></span>
        </div>
        <div class="summary-row" th:if="${order.totalPrice > 0}">
            <span>Delivery fee:</span>
            <span>$5.00</span>
        </div>
        <div class="summary-row total">
            <span>Total to pay:</span>
            <span th:if="${order.totalPrice > 0}" th:text="'$' + ${#numbers.formatDecimal(order.totalPrice.add(5), 1, 'COMMA', 2, 'POINT')}"></span>
            <span th:if="${order.totalPrice == 0}" th:text="'$' + ${#numbers.formatDecimal(order.totalPrice, 1, 'COMMA', 2, 'POINT')}"></span>
        </div>
        <p class="payment-note">* We only accept cash on delivery *</p>
    </div>

    <form th:action="@{'/orders/basket/place-order/' + ${order.id}}" method="post" class="checkout-form">
        <label for="address">Delivery Address:</label>
        <input type="text" id="address" name="address" placeholder="Enter your address">
        <button type="submit" class="order-btn">Place Order</button>
    </form>

    <p class="error-handling" th:text="${noAddressSelectedMessage}"></p>
    <p class="error-handling" th:text="${orderHasNoProductsMessage}"></p>

</main>

</body>