<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/product-creation-edit.css"/>
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <title>Product Creation</title>
</head>
<body>

<th:block th:insert="fragments/nav-bar :: main-header(${user})"></th:block>

<main class="add-brand-form">

    <h1>Edit product details</h1>

    <form th:action="@{'/products/' + ${product.id} + '/edit'}" th:method="PUT" th:object="${editProductRequest}">

        <div class="product-info">

            <label for="image-url">Image:</label>
            <input type="text" id="image-url" placeholder="Enter image URL" th:field="*{imageUrl}">
            <small th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}"></small>

            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="Enter name" th:field="*{name}">
            <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>

            <label for="price">Price:</label>
            <input type="number" id="price" placeholder="Enter price" step="0.1" th:field="*{price}">
            <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>

            <label for="category">Category:</label>
            <select id="category" th:field="*{category}">
                <option th:each="category : ${T(app.product.model.ProductCategory).values()}" th:value="${category}" th:text="${#strings.capitalize(#strings.toLowerCase(category))}"></option>
            </select>
            <small th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></small>

        </div>

        <button type="submit" class="submitBtn">Save</button>

    </form>

</main>

</body>