<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/orders-list.css" />
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <title>Orders List</title>
</head>
<body>

<th:block th:insert="fragments/nav-bar :: main-header(${user})"></th:block>

<main class="page-container">
    <h1 class="page-title">Available Orders</h1>

    <div class="orders-list">


        <div class="order-item">
            <div class="order-header">
                <span class="order-number">#1</span>
                <span class="order-price">$20.56</span>
            </div>

            <div class="order-details">
                <div><span class="label">🏪 From:</span> KFC, Sofia</div>
                <div><span class="label">📍 To:</span> ul. Planinski prohod 5</div>
            </div>

            <form method="post" action="/orders/accept" class="accept-form">
                <input type="hidden" name="orderId" value="1" />
                <button type="submit" class="accept-button">Accept</button>
            </form>
        </div>
        <hr class="order-divider" />

        <div class="order-item">
            <div class="order-header">
                <span class="order-number">#1</span>
                <span class="order-price">$20.56</span>
            </div>

            <div class="order-details">
                <div><span class="label">🏪 From:</span> KFC, Sofia</div>
                <div><span class="label">📍 To:</span> ul. Planinski prohod 5</div>
            </div>

            <form method="post" action="/orders/accept" class="accept-form">
                <input type="hidden" name="orderId" value="1" />
                <button type="submit" class="accept-button">Accept</button>
            </form>
        </div>
        <hr class="order-divider" />

        <div class="order-item">
            <div class="order-header">
                <span class="order-number">#1</span>
                <span class="order-price">$20.56</span>
            </div>

            <div class="order-details">
                <div><span class="label">🏪 From:</span> KFC, Sofia</div>
                <div><span class="label">📍 To:</span> ul. Planinski prohod 5</div>
            </div>

            <form method="post" action="/orders/accept" class="accept-form">
                <input type="hidden" name="orderId" value="1" />
                <button type="submit" class="accept-button">Accept</button>
            </form>
        </div>
        <hr class="order-divider" />


    </div>
</main>
</body>