<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/orders.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>


    <title>Orders</title>
</head>
<body>
<header class="main-header">
    <div class="header-left">
        <img src="/images/home.jpg" alt="Logo"/>
    </div>
    <div class="header-content">
        <h1 class="welcome-title">Welcome to Our Page!</h1>
        <h2 class="welcome-text">It’s time to power up your <br>day with flavor and focus. Grab your coffee (or pizza?)
            and let’s get things rolling.</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <nav class="header-nav">
            <a th:href="@{/home}" class="nav-button"><i class="fas fa-home"></i> Home</a>
            <a th:href="@{/orders/basket}" class="nav-button"><i class="fas fa-shopping-basket"></i> Basket</a>
            <a href="#" class="nav-button" th:if="${user.role.name() == 'EMPLOYEE'}">
                <i class="fas fa-chart-bar"></i>
                Statistics
            </a>
            <a th:href="@{/orders}" class="nav-button"><i class="fas fa-receipt"></i> Orders</a>
            <a th:href="@{'/user/' + ${user.id} + '/profile'}" class="nav-button"><i class="fas fa-user"></i> Profile</a>
        </nav>
    </div>

</header>

<main class="orders-page">

    <br>
    <h1>Order Tracking & History</h1>

    <p class="no-orders" th:if="${user.role.name() == 'CUSTOMER' and #lists.isEmpty(userOrders)}">You still do not have any orders!</p>

    <section class="order-tracking"
             th:if="${user.role.name() == 'CUSTOMER' and not #lists.isEmpty(userOrders)}">

        <h2>Track Your Orders</h2>
        <br>
        <div class="tracking-container" th:each="order : ${userOrders}">

            <p class="order-id" th:text="${'ID: ' + #strings.substring(order.id, 0, 3)} + '..'"></p>

            <div class="tracking-steps">

                <div class="step completed">
                    <div class="circle"></div>
                    <p>Order Sent</p>
                </div>

                <div class="line"></div>

                <div th:classappend="${order.status.name() == 'COURIER_FOUND' or order.status.name() == 'PICKED_UP' or order.status.name() == 'DELIVERED' ? 'step completed' : 'step'}">
                    <div class="circle"></div>
                    <p>Courier Found</p>
                </div>

                <div class="line"></div>

                <div th:classappend="${order.status.name() == 'PICKED_UP' or order.status.name() == 'DELIVERED' ? 'step completed' : 'step'}">
                    <div class="circle"></div>
                    <p>Picked Up</p>
                </div>

                <div class="line"></div>

                <div th:classappend="${order.status.name() == 'DELIVERED' ? 'step completed' : 'step'}">
                    <div class="circle"></div>
                    <p>Delivered</p>
                </div>


            </div>
        </div>
    </section>

    <br>
    <br>
    <section class="order-history" th:if="${user.role.name() == 'CUSTOMER' and not #lists.isEmpty(userOrders)}">
        <h2>Orders History</h2>
        <table>
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Total</th>
                <th>Products</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="order : ${userOrders}">
                <td th:text="${order.id}"></td>
                <td th:text="${#temporals.format(order.createdOn, 'dd MMM yyyy - HH:mm')}"></td>
                <td th:text="'$' + ${#numbers.formatDecimal(order.totalPrice.add(5), 1, 'COMMA', 2, 'POINT')}"></td>
                <td th:text="${order.products.size()}"></td>
            </tr>

            </tbody>
        </table>
    </section>

    <div class="delivery-info" th:if="${user.role.name() == 'COURIER'}">
        <h1>Delivery Info</h1>

        <div class="stats">
            <div class="stat">
                <h3>124</h3>
                <p>Orders Completed</p>
            </div>
            <div class="stat">
                <h3>$150</h3>
                <p>Bonus</p>
            </div>
        </div>

        <br>
        <div class="order-history">
            <h2>Order History</h2>
            <table>
                <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Number of Products</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>#12345</td>
                    <td>2025-04-26</td>
                    <td>$25</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>#12346</td>
                    <td>2025-04-25</td>
                    <td>$45</td>
                    <td>5</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</main>

</body>