<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/order-accepted.css" />
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <title>Order Accepted</title>
</head>
<body>

<th:block th:insert="fragments/nav-bar :: main-header(${user})"></th:block>

<main class="page-container">
    <h1 class="page-title">Order Details</h1>

    <div class="order-details-box" th:if="${order != null}">
        <div class="order-header">
            <span class="order-id" th:text="${'Order #' + #strings.substring(order.id, 0, 3)} + '..'"></span>
            <span class="order-price" th:text="'$' + ${#numbers.formatDecimal(order.totalPrice, 1, 'COMMA', 2, 'POINT')}"></span>
        </div>

        <div class="order-status status-pending" th:if="${order.status.name() == 'COURIER_FOUND'}">Status: Not Picked Up</div>

        <div class="order-status status-picked" th:if="${order.status.name() == 'PICKED_UP'}">Status: Picked Up</div>

        <div class="order-status status-delivered" th:if="${order.status.name() == 'DELIVERED'}">Status: Delivered</div>


        <div class="order-location">
            <div>
                <span class="label">🏪 From:</span>
                <span>Central Pickup Point</span>
            </div>
            <div>
                <span class="label">📍 To:</span>
                <span th:text="${order.address}"></span>
            </div>
        </div>

        <div class="button-wrapper" th:if="${order.status.name() == 'COURIER_FOUND'}">
            <form th:action="@{/orders/change-status}" method="post">
                <input type="hidden" name="_method" value="put"/>
                <button type="submit" class="action-button">Pick Up</button>
            </form>
        </div>

        <div class="button-wrapper" th:if="${order.status.name() == 'PICKED_UP'}">
            <form th:action="@{/orders/change-status}" method="post">
                <input type="hidden" name="_method" value="put"/>
                <button type="submit" class="action-button">Delivered</button>
            </form>
        </div>

        <form th:if="${order.status.name() == 'DELIVERED'}" th:action="@{/orders/clean}" th:method="DELETE">
            <button type="submit" class="clean-button">Clean</button>
        </form>

    </div>

    <div class="no-orders-message" th:if="${order == null}">
        <p>No orders have been accepted yet.</p>
        <a th:href="@{/orders/awaiting}">
            <button type="submit" class="back-to-list-button">Back to Orders List</button>
        </a>
    </div>

</main>

</body>