<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/products.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>


    <title>Products</title>
</head>
<body>
<header class="main-header">
    <div class="header-left">
        <img src="/images/home.jpg" alt="Logo"/>
    </div>
    <div class="header-content">
        <h1 class="welcome-title">Welcome to Our Page!</h1>
        <h2 class="welcome-text">It’s time to power up your <br>day with flavor and focus. Grab your coffee (or pizza?)
            and let’s get things rolling.</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <nav class="header-nav">
            <a th:href="@{/home}" class="nav-button"><i class="fas fa-home"></i> Home</a>
            <a th:href="@{/orders/basket}" class="nav-button"><i class="fas fa-shopping-basket"></i> Basket</a>
            <a href="#" class="nav-button" th:if="${user.role.name() == 'EMPLOYEE'}">
                <i class="fas fa-chart-bar"></i>
                Statistics
            </a>
            <a th:href="@{/orders}" class="nav-button"><i class="fas fa-receipt"></i> Orders</a>
            <a th:href="@{/user/profile}" class="nav-button"><i class="fas fa-user"></i> Profile</a>
        </nav>
    </div>
</header>


<main class="brands-container">

    <div th:if="${categoryProducts == null || categoryProducts.isEmpty()}">
        <p class="no-products-message">There are no products available.</p>
    </div>

    <div th:if="${categoryProducts != null && !categoryProducts.isEmpty()}" th:each="product : ${categoryProducts}"
         class="brand-card" th:style="'background-image: url(' + ${product.imageUrl} + ')'">

        <form action="" th:if="${user.role.name() == 'EMPLOYEE'}">
            <button type="button" class="delete-button">×</button>
        </form>

        <div class="brand-info">
            <h3 class="product-name" th:text="${product.name}"></h3>
            <div class="price-add-row">
                <span class="product-price"
                      th:text="'$' + ${#numbers.formatDecimal(product.price, 1, 'COMMA', 2, 'POINT')}"></span>

                <form th:action="@{'/orders/basket/add-product/' + ${product.id}}" th:method="POST">
                    <button type="submit" class="add-button">Add To Cart</button>
                </form>

            </div>
        </div>
    </div>

</main>
</body>

</html>