<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Modern+Antiqua&display=swap" rel="stylesheet">
    <title>Register</title>
    <link rel="stylesheet" href="register.css" />
</head>
<body>
<div class="login-container">
    <div class="login-left">

        <h3>Sign up for fast, fresh food delivery:</h3>
        <form action="#">
            <br>
            <label for="name">First Name</label>
            <br>
            <input type="name" id="name" name="name" required placeholder="First Name">
            <br><br>

            <label for="name">Last Name</label>
            <br>
            <input type="name" id="name" name="name" required placeholder="Last Name">
            <br><br>

            <label for="email">Email</label>
            <br>
            <input type="email" id="email" name="email" required placeholder="Email">
            <br><br>

            <label for="password">Password</label>
            <br>
            <input type="password" id="password" name="password" required placeholder="Password">
            <br><br>

            <label for="password">Confirm Password</label>
            <br>
            <input type="password" id="password" name="password" required placeholder="Confirm Password">
            <br><br>

            <button type="submit">Sign Up</button>
            <br>
            <br>


        </form>
    </div>

    <div class="login-right">

    </div>

</div>

</body>
</html>