<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Modern+Antiqua&display=swap" rel="stylesheet">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css" />
</head>
<body>
<div class="login-container">
    <div class="login-left">

        <h3>Sign up for fast, fresh food delivery:</h3>
        <form th:action="@{/register}" th:method="POST" th:object="${registerRequest}">
            <br>
            <label for="firstName">First Name</label>
            <br>
            <input type="text" id="firstName" name="firstName" th:field="*{firstName}" placeholder="First Name">
            <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></small>
            <br><br>

            <label for="lastName">Last Name</label>
            <br>
            <input type="text" id="lastName" name="lastName" th:field="*{lastName}" placeholder="Last Name">
            <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
            <br><br>

            <label for="email">Email</label>
            <br>
            <input type="email" id="email" name="email" th:field="*{email}" placeholder="Email">
            <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
            <br><br>

            <label for="username">Username</label>
            <br>
            <input type="text" id="username" name="username" th:field="*{username}" placeholder="Username">
            <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
            <br><br>

            <label for="password">Password</label>
            <br>
            <input type="password" id="password" name="password" th:field="*{password}" placeholder="Password">
            <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
            <br><br>

            <label for="confirmPassword">Confirm Password</label>
            <br>
            <input type="password" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}" placeholder="Confirm Password">
            <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></small>
            <br><br>

            <button type="submit" class="login-btn" onclick="home.html">Sign Up</button>
            <br>
            <br>
            <p class="have-account">
                Already have an account?
                <a href="register.html">Log In</a>

            </p>


        </form>
    </div>

    <div class="login-right">

    </div>

</div>

</body>
</html>